@import url('https://fonts.googleapis.com/css?family=Special+Elite');

body, html {
  height: 100%;
}

.center {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70%;
  margin-bottom:auto;
}

p{
    font-family: 'Special Elite', cursive;
    color: white;
    
}

li{
    font-family: 'Special Elite', cursive;
    color: white;
}

h3{
	font-family: 'Special Elite', cursive;
}

h2{
	font-size: 140px;
	color: white;
	text-align: center;
	margin: auto;
	padding: 100px;
font-family: 'Special Elite', cursive;
}
.parallax {
  /* The image used */
  background-image: url('images/bg4.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}